In [2]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Import utilisation csv file
util_csv = "../Resources/supply_utilisation.csv"
util_df = pd.read_csv(util_csv)
util_df = util_df[util_df['Value'] !=0]
util_df

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,SCL,Supply Utilization Accounts,2,Afghanistan,5610,Import Quantity,661,"Cocoa, beans",2014,2014,tonnes,508,X,International reliable sources
1,SCL,Supply Utilization Accounts,2,Afghanistan,5610,Import Quantity,661,"Cocoa, beans",2017,2017,tonnes,1,X,International reliable sources
7,SCL,Supply Utilization Accounts,2,Afghanistan,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2014,2014,tonnes,508,F,FAO estimate
8,SCL,Supply Utilization Accounts,2,Afghanistan,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2017,2017,tonnes,1,F,FAO estimate
16,SCL,Supply Utilization Accounts,4,Algeria,5113,Opening stocks,661,"Cocoa, beans",2014,2014,tonnes,1457,Im,FAO data based on imputation methodology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5198,SCL,Supply Utilization Accounts,181,Zimbabwe,5113,Opening stocks,661,"Cocoa, beans",2016,2016,tonnes,1,Im,FAO data based on imputation methodology
5199,SCL,Supply Utilization Accounts,181,Zimbabwe,5113,Opening stocks,661,"Cocoa, beans",2017,2017,tonnes,1,Im,FAO data based on imputation methodology
5200,SCL,Supply Utilization Accounts,181,Zimbabwe,5113,Opening stocks,661,"Cocoa, beans",2018,2018,tonnes,1,Im,FAO data based on imputation methodology
5201,SCL,Supply Utilization Accounts,181,Zimbabwe,5610,Import Quantity,661,"Cocoa, beans",2015,2015,tonnes,14,NaN,Official data
5210,SCL,Supply Utilization Accounts,181,Zimbabwe,5023,Processed,661,"Cocoa, beans",2015,2015,tonnes,14,Im,FAO data based on imputation methodology

In [4]:
# Import Ratings csv file
rating_csv = "../Resources/chocolate_rating.csv"
rating_df = pd.read_csv(rating_csv)
rating_df.head(2)

,Unnamed: 0,ref,company,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,counts_of_ingredients,...,cocoa_butter,vanilla,lecithin,salt,sugar,sweetener_without_sugar,first_taste,second_taste,third_taste,fourth_taste
0,0,2454,5150,U.S.A,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.75,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,cocoa,blackberry,full body,NaN
1,1,2458,5150,U.S.A,2019,Dominican republic,"Zorzal, batch 1",76.0,3.50,3,...,have_cocoa_butter,have_not_vanila,have_not_lecithin,have_not_salt,have_sugar,have_not_sweetener_without_sugar,cocoa,vegetal,savory,NaN

In [5]:
df = util_df[util_df['Element'] == 'Food supply quantity (tonnes)']
df

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
7,SCL,Supply Utilization Accounts,2,Afghanistan,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2014,2014,tonnes,508,F,FAO estimate
8,SCL,Supply Utilization Accounts,2,Afghanistan,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2017,2017,tonnes,1,F,FAO estimate
142,SCL,Supply Utilization Accounts,1,Armenia,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2015,2015,tonnes,886,F,FAO estimate
143,SCL,Supply Utilization Accounts,1,Armenia,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2016,2016,tonnes,812,F,FAO estimate
144,SCL,Supply Utilization Accounts,1,Armenia,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2017,2017,tonnes,898,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5049,SCL,Supply Utilization Accounts,235,Uzbekistan,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2018,2018,tonnes,2,F,FAO estimate
5082,SCL,Supply Utilization Accounts,155,Vanuatu,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2014,2014,tonnes,133,F,FAO estimate
5083,SCL,Supply Utilization Accounts,155,Vanuatu,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2015,2015,tonnes,429,F,FAO estimate
5084,SCL,Supply Utilization Accounts,155,Vanuatu,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2016,2016,tonnes,200,F,FAO estimate
5085,SCL,Supply Utilization Accounts,155,Vanuatu,5141,Food supply quantity (tonnes),661,"Cocoa, beans",2018,2018,tonnes,399,F,FAO estimate

In [6]:
util_df_cols = ['Area', 'Element', 'Year', 'Unit', 'Value']
Utilisation = df[util_df_cols].copy()
Utilisation.sort_values(['Year'], ascending=False)

                  Area                        Element  Year    Unit  Value
2615            Kuwait  Food supply quantity (tonnes)  2018  tonnes      2
771           Cameroon  Food supply quantity (tonnes)  2018  tonnes   9533
1088           Comoros  Food supply quantity (tonnes)  2018  tonnes     13
1407          Dominica  Food supply quantity (tonnes)  2018  tonnes     50
1979           Grenada  Food supply quantity (tonnes)  2018  tonnes    200
...                ...                            ...   ...     ...    ...
2373           Ireland  Food supply quantity (tonnes)  2014  tonnes      4
3999       Saint Lucia  Food supply quantity (tonnes)  2014  tonnes     40
3623  Papua New Guinea  Food supply quantity (tonnes)  2014  tonnes   4001
3393             Niger  Food supply quantity (tonnes)  2014  tonnes      3
7          Afghanistan  Food supply quantity (tonnes)  2014  tonnes    508

[115 rows x 5 columns]

In [18]:
Utilisation = Utilisation.rename(columns={'Area':'area', 'Element':'element',
                                'Year':'year', 'Unit':'unit', 'Value':'value'})

In [7]:
 rating_cols = ['company', 'company_location', 'review_date', 'cocoa_percent', 'rating']
 rating_cols2 = rating_df[rating_cols].copy()
 rating_cols2.head(2)

  company company_location  review_date  cocoa_percent  rating
0    5150            U.S.A         2019           76.0    3.75
1    5150            U.S.A         2019           76.0    3.50

In [13]:
Choc_Rating = rating_cols2.rename(columns={'company_location':'area',
                                    'review_date':'year',
})

Choc_Rating

       company     area  year  cocoa_percent  rating
0         5150    U.S.A  2019           76.0    3.75
1         5150    U.S.A  2019           76.0    3.50
2         5150    U.S.A  2019           76.0    3.25
3     A. Morin   France  2012           63.0    3.75
4     A. Morin   France  2012           70.0    3.50
...        ...      ...   ...            ...     ...
2219    Zotter  Austria  2014           80.0    2.75
2220    Zotter  Austria  2017           75.0    3.75
2221    Zotter  Austria  2018           72.0    3.50
2222    Zotter  Austria  2018           70.0    3.25
2223    Zotter  Austria  2018           75.0    3.00

[2224 rows x 5 columns]

In [19]:
from config import username, password
rds_connection_string = f"{username}:{password}@localhost:5432/ETL_Cocoa"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [20]:
engine.table_names()

/opt/anaconda3/envs/Class/lib/python3.6/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  """Entry point for launching an IPython kernel.

['utilisation', 'choc_rating']

In [21]:
Utilisation.to_sql(name="utilisation", con=engine, if_exists='append', index=False)

In [22]:
Choc_Rating.to_sql(name="choc_rating", con=engine, if_exists='append', index=False)

In [23]:
pd.read_sql_query('select * from utilisation', con=engine).head()

          area                        element  year    unit  value
0  Afghanistan  Food supply quantity (tonnes)  2014  tonnes    508
1  Afghanistan  Food supply quantity (tonnes)  2017  tonnes      1
2      Armenia  Food supply quantity (tonnes)  2015  tonnes    886
3      Armenia  Food supply quantity (tonnes)  2016  tonnes    812
4      Armenia  Food supply quantity (tonnes)  2017  tonnes    898

In [24]:
pd.read_sql_query('select * from choc_rating', con=engine).head()

    company    area  year  cocoa_percent  rating
0      5150   U.S.A  2019             76    3.75
1      5150   U.S.A  2019             76    3.50
2      5150   U.S.A  2019             76    3.25
3  A. Morin  France  2012             63    3.75
4  A. Morin  France  2012             70    3.50