In [2]:
import pandas as pd

In [3]:
url = 'https://meta.wikimedia.org/wiki/List_of_countries_by_regional_classification'

In [4]:
tables = pd.read_html(url)
tables[0]

                  Country               Region  Global South
0                 Andorra               Europe  Global North
1    United Arab Emirates          Middle east  Global South
2             Afghanistan       Asia & Pacific  Global South
3     Antigua and Barbuda  South/Latin America  Global South
4                Anguilla  South/Latin America  Global South
..                    ...                  ...           ...
243              Guernsey               Europe  Global North
244           Isle of Man               Europe  Global North
245                Jersey               Europe  Global North
246      Saint Barthelemy  South/Latin America  Global South
247          Saint Martin  South/Latin America  Global South

[248 rows x 3 columns]

In [5]:
country_regions = tables[0]

In [8]:
# drop Global column
country_regions = country_regions.drop("Global South", axis = 1)

In [11]:
country_regions.to_csv('country_region.csv', index=False)